* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(216, 15%, 48%);
    --background-color: hsl(210, 60%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d5e1ef;
  color: #333;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
}
.qr-code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.title{
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.description{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

footer{
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}